In [3]:
import  pandas as pd

df = pd.read_excel("C:/Users/jluci/OneDrive - datosgt.com/Escritorio/Panamerican/20. Dashboard/Base de datos.xlsx")
df.head(2)

,Continente,Pais,Familia,Canal de venta,Prioridad de la orden,Fecha de pedido,ID Orden,Fecha de embarque,Unidades vendidas,Precio unitario,Costo unitario,Ventas Brutas,Total costo,Total utilidad,Genero comprador,Encargado venta,Devoluciones,Año,Mes,Dia
0,Centro America,Saint Vincent and the Grenadines,Vinos,Retail,Critica,2018-01-01,839315724,2018-01-17,86,50000,25000.0,4300000,2150000.0,2150000.0,Femenino,Vendedor 2,29,2018,1,1
1,Europa,Bulgaria,Electronica,E-Commerce,Alta,2018-01-01,799386966,2018-02-06,53,100000,50000.0,5300000,2650000.0,2650000.0,Masculino,Vendedor 2,48,2018,1,1

In [ ]:
# Importar librerías necesarias
import pandas as pd

# Definir la función para cargar el archivo
def Data():
    FilePath = "C:/Users/Dashboard/Base de datos.xlsx"

    if FilePath:
        try:
            if FilePath.endswith('.xlsx'):
                files = pd.read_excel(FilePath)
                display(files.head(2))
            else:
                files = pd.read_csv(FilePath)
                display(files.head(2))
            print(f"Archivo se cargado correctamente")
            return files # Retorna el DataFrame
        except Exception as e:
            print("Validar porque...", f"formto de archivo desconocido")

# definir el DataFrame
df = Data()

,Continente,Pais,Familia,Canal de venta,Prioridad de la orden,Fecha de pedido,ID Orden,Fecha de embarque,Unidades vendidas,Precio unitario,Costo unitario,Ventas Brutas,Total costo,Total utilidad,Genero comprador,Encargado venta,Devoluciones,Año,Mes,Dia
0,Centro America,Saint Vincent and the Grenadines,Vinos,Retail,Critica,2018-01-01,839315724,2018-01-17,86,50000,25000.0,4300000,2150000.0,2150000.0,Femenino,Vendedor 2,29,2018,1,1
1,Europa,Bulgaria,Electronica,E-Commerce,Alta,2018-01-01,799386966,2018-02-06,53,100000,50000.0,5300000,2650000.0,2650000.0,Masculino,Vendedor 2,48,2018,1,1

Archivo se cargado correctamente

In [25]:
df.head(2)

,Continente,Pais,Familia,Canal de venta,Prioridad de la orden,Fecha de pedido,ID Orden,Fecha de embarque,Unidades vendidas,Precio unitario,Costo unitario,Ventas Brutas,Total costo,Total utilidad,Genero comprador,Encargado venta,Devoluciones,Año,Mes,Dia
0,Centro America,Saint Vincent and the Grenadines,Vinos,Retail,Critica,2018-01-01,839315724,2018-01-17,86,50000,25000.0,4300000,2150000.0,2150000.0,Femenino,Vendedor 2,29,2018,1,1
1,Europa,Bulgaria,Electronica,E-Commerce,Alta,2018-01-01,799386966,2018-02-06,53,100000,50000.0,5300000,2650000.0,2650000.0,Masculino,Vendedor 2,48,2018,1,1

In [16]:
df = pd.DataFrame(Data)

ValueError: DataFrame constructor not properly called!